@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.details {
  @include disFlex(row, start);

  min-height: calc(100dvh - 57px);
  width: 100%;

  border: 1px solid $color-black;
  border-top: none;
  padding: 2rem;

  &__frame {
    border: 1px solid $color-black;
    @include disFlex(row, start);
    flex-wrap: wrap;
    width: 100%;
  }

  &__banner {
    padding: 1rem;
    border: 1px solid $color-black;
    border-top: none;
    border-right: none;

    width: 40%;

    @include medium-device-down {
      width: 100%;
    }

    &__image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__information {
    padding: 1rem;
    border: 1px solid $color-black;
    border-top: none;
    width: 60%;

    @include medium-device-down {
      width: 100%;
    }

    &__title {
      @extend %theme__h3;
    }

    &__subtitle {
      @extend %theme__h5;
      color: $color-purple-accent;
      margin-bottom: 1rem;
    }

    &__rating {
      margin-bottom: 0.75rem;
    }

    &__paragraph {
      @extend %theme__p1;
    }
  }
}
